.wrapper{
    width: 550px;
    height: 541px;
    background: #FeFeFe;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 32%;
}

.heading{
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;
    padding: 25px;
    
}

.wrapper span{
    position: absolute;
    right: 31px;
    top: 40px;
    color: #888888;
    width: 12px;
    height: 12px;
}

.wrapper label, .wrapper input, textarea, .addSegmentButton {
    margin-left: 20px;
    margin-bottom: 25px;
}

.wrapper label{
    position: absolute;
    width: 468px;
    height: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 18px;   
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #3C3C3C;
}

.wrapper input{
    width: 470px;
    height: 40px;
    /* position: absolute; */
    background: #FFFFFF;
    border: 0.5px solid #888888;
    /* box-sizing: border-box; */
    border-radius: 5px;
    padding-left: 2px;
}

input:focus{
    border-color: blue !important;
}

textarea{
    width: 470px;
    height: 124.83px;
    background: #FFFFFF;
    border: 0.5px solid #888888;
    /* box-sizing: border-box; */
}

.addSegmentButton{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
}



.button1 {
      background: rgba(60, 60, 60, 0.5);
    color: white;
    opacity: 0.9;
   
}
.button2{
    background-color: white;
}

.button2:hover{
    color: blue;
    border-color: blue
}